<!-- ------------------------------------------ -->
<!-- -----------------Partials----------------- -->
<!-- ------------------------------------------ -->
<link rel="stylesheet" href="/css/_banner.css" />
<script defer src="/js/_banner.js"></script>
<!-- Banner Start -->
<header class="banner">
	<div class="hoverDisplay">
		<h3 id="name">Todo List App</h3>
		<div class="date">
			<i class="fa-solid fa-calendar-days"></i>
			<h3 id="today">Monday, Oct 03</h3>
		</div>
	</div>
</header>
<!-- Banner End -->
