<link rel="stylesheet" href="/css/_upper-tabs.css" />
<!-- Upper Tabs Start -->
<div class="tabs-box">
	<div class="tabs" id="all">All</div>
	<div class="tabs" id="incomplete">Incomplete</div>
	<div class="tabs" id="completed">Completed</div>
</div>
<!-- Upper Tabs End -->
