<!-- ------------------------------------------ -->
<!-- -----------------Partials----------------- -->
<!-- ------------------------------------------ -->
<link rel="stylesheet" href="/css/_upper-tabs.css" />
<!-- Upper Tabs Start -->
<div class="tabs-box">
	<div class="tabs" id="all" onclick="window.location='/';">All</div>
	<div
		class="tabs"
		id="incomplete"
		onclick="window.location='/task-list/incomplete-tasks';"
	>
		Incomplete
	</div>
	<div
		class="tabs"
		id="completed"
		onclick="window.location='/task-list/completed-tasks';"
	>
		Completed
	</div>
</div>
<!-- Upper Tabs End -->
