<link rel="stylesheet" href="/css/tasks.css" />
<div class="scroll">
	<!-- Tab Content Template Start -->
	<div class="tab1 content">
		<div class="task">
			<div class="checkbox">
				<i class="fa-solid fa-circle-check" id="check"></i>
			</div>
			<div class="text">
				<p>Buy Vegetables</p>
				<p class="date">
					<i class="fa-solid fa-calendar-days"></i> &nbsp;MAY 2, 2019
				</p>
			</div>
			<div class="priority">
				<p>Medium</p>
			</div>
			<div class="category">
				<p>Personal</p>
			</div>
			<div class="edit">
				<i class="fa-solid fa-pen-to-square" id="edit"></i>
			</div>
			<div class="delete">
				<i class="fa-solid fa-trash-alt" id="delete"></i>
			</div>
		</div>
	</div>
	<!-- Tab Content Template End -->
	<!-- Tabs 2 3 Content Start -->
	<div class="tab2 content"></div>
	<div class="tab3 content"></div>
	<!-- Tabs 2 3 Content End -->
</div>
